.Account {
  position: relative;
}

.MenuTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.MenuIcon {
  background-color: var(--green);
  padding: 0.5rem;
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--almostWhite);
  cursor: pointer;
}

.SideMenu {
  display: none;
}

.Item {
  display: flex;
  margin-bottom: 0.5rem;
}

.Item p {
  margin-right: 0.5rem;
}

.Item p,
.Item small {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Account {
    display: flex;
    justify-content: space-between;
  }

  .MenuIcon {
    display: none;
  }

  .Details {
    width: 70%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}
