.Account {
  padding: 1rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 375px) {
  .Account {
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 411px) {
  .Account {
    margin-bottom: 4.8rem;
  }
}

@media (min-width: 768px) {
  .Account {
    padding: 2rem 0rem;
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .Account {
    padding: 3rem 0rem;
    width: 40rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 1280px) {
  .Account {
    padding: 4rem 0rem;
  }
}
