.AllGenericOrders small {
  color: var(--grey);
  display: block;
}

.AllGenericOrders small a {
  position: relative;
  color: var(--kindaRed);
  transition: all 200ms ease-in-out;
}

.Order {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--almostWhite);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.Order:last-child {
  margin-bottom: 0rem;
}

.Order .TypeDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Order .Date {
  font-size: 0.6rem;
  color: var(--slateGrey);
}

.Order .Main {
  margin-bottom: 0.5rem;
}

.Order .Title {
  font-weight: var(--semiBold);
  margin-bottom: 0.3rem;
}

.Order ul {
  display: flex;
  flex-wrap: wrap;
}

.Order ul li {
  padding: 0.2rem;
  color: var(--grey);
}

.Order .PriceReorder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Order button {
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
}

@media (min-width: 768px) {
  .Order {
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
  }

  .Order .Date {
    font-size: 0.7rem;
  }

  .Order .Main {
    margin-bottom: 1rem;
  }

  .AllGenericOrders small a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--green);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  .AllGenericOrders small a:hover::before {
    transform: scaleX(1);
  }

  .AllGenericOrders small a:hover {
    color: var(--green);
  }

  .Order .Title {
    margin-bottom: 0.5rem;
  }
}
