.Orders .Title {
  margin-bottom: 1rem;
}

.Order {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--almostWhite);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.Order .TypeDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Order .Date {
  font-size: 0.6rem;
  color: var(--slateGrey);
}

.Order .Main {
  margin-bottom: 0.5rem;
}

.Order .Title {
  font-weight: var(--semiBold);
  margin-bottom: 0.1rem;
}

.Order ul {
  display: flex;
  flex-wrap: wrap;
}

.Order ul li {
  padding: 0.2rem;
}

.Order .ItemsToRemove .Items {
  display: flex;
  margin-bottom: 0.3rem;
}

.Order .ItemsToRemove .Items small {
  padding: 0.2rem;
  text-transform: capitalize;
}

.Order .PriceReorder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Address {
  font-size: 0.8rem;
  color: var(--green);
}

.Address span {
  font-weight: var(--semiBold);
}

.NoOrder {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .Order {
    padding: 1.5rem 2rem;
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .Order:last-child {
    margin-bottom: 0rem;
  }

  .Order .Date {
    font-size: 0.7rem;
  }

  .Order .Main {
    margin-bottom: 1rem;
  }

  .Order .Title {
    margin-bottom: 0.3rem;
    font-weight: var(--medium);
  }

  .Order .ItemsToRemove {
    margin-bottom: 0.8rem;
  }

  .Address {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .Order {
    width: 40rem;
  }
}
