.Order {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--almostWhite);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.Order .TypeDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Order small {
  font-size: 0.6rem;
  color: var(--slateGrey);
}

.Order .Main {
  margin-bottom: 0.5rem;
}

.Order .Title {
  font-size: 0.9rem;
  font-weight: var(--semiBold);
  margin-bottom: 0.1rem;
}

.Order ul {
  display: flex;
  flex-wrap: wrap;
}

.Order ul li {
  font-size: 0.8rem;
  padding: 0.2rem;
}

.Order .ItemsToRemove .Items {
  display: flex;
  margin-bottom: 0.3rem;
}

.Order .ItemsToRemove .Items p {
  font-size: 0.8rem;
  padding: 0.2rem;
  text-transform: capitalize;
}

.Order .PriceReorder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NoOrder {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
