.SideMenu {
  display: none;
}

.MobileMenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--grey);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--almostWhite);
  border-radius: 0.25rem;
  color: var(--slateGrey);
  cursor: pointer;
  font-size: 0.7rem;
}

.Arrow {
  margin-left: 0.5rem;
  transition: all 200ms ease-in-out;
}

.RotateArrow {
  transform: rotate(180deg);
}

.SubItems {
  padding: 0rem 1rem;
}

.SubItems h5 {
  padding: 0.25rem;
  font-weight: var(--medium);
  border: 1px solid var(--almostWhite);
  border-radius: 0.25rem;
  color: var(--almostWhite);
  text-align: center;
  cursor: pointer;
}

.SubItems h5:first-child {
  margin-bottom: 0.5rem;
}

.CloseIcon {
  position: absolute;
  top: -1.1rem;
  left: -1.1rem;
  font-size: 1.3rem;
  color: var(--kindaRed);
  cursor: pointer;
}

@media (min-width: 768px) {
  .MobileMenu {
    display: none;
  }

  .SideMenu {
    display: block;
    width: 11rem;
  }

  .SideMenu h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    font-weight: var(--medium);
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  .SubMenu {
    margin-left: 0.8rem;
  }

  .SubMenu h5 {
    padding: 0.5rem;
    font-weight: var(--medium);
    border-bottom: none;
    font-size: 0.9rem;
    font-weight: var(--regular);
    cursor: pointer;
  }

  .SideMenu h5:hover {
    background-color: var(--almostWhite);
  }
}

@media (min-width: 1024px) {
  .SideMenu {
    width: 12rem;
  }
}
