.UserDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
}

.Title {
  margin-bottom: 1rem;
}

.PendingOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.UserDetails .PendingOrder button {
  align-self: center;
}

.CurrentOrder {
  margin-bottom: 1.5rem;
}

.Order {
  display: flex;
  align-items: center;
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.Icon {
  font-size: 1.5rem;
  transition: all 0.25s;
}

.RotateIcon {
  transform: rotate(180deg);
}

@media (min-width: 375px) {
  .UserDetails {
    margin-bottom: 5.5rem;
  }
}

@media (min-width: 411px) {
  .UserDetails {
    margin-bottom: 6.5rem;
  }
}

@media (min-width: 768px) {
  .Icon {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .UserDetails {
    margin-bottom: 0rem;
  }

  .AllOrders {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .AllOrders {
    margin-bottom: 3rem;
  }
}
