.UserDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 4.5rem;
}

.Title {
  margin-bottom: 1rem;
}

.PendingOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.Order {
  display: flex;
  align-items: center;
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.Icon {
  font-size: 1.5rem;
  transition: all 0.25s;
}

.RotateIcon {
  transform: rotate(180deg);
}
