.LoginForm {
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-top: 2px solid var(--kindaRed);
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}

.LoginForm h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.LoginForm h3 .Icon {
  margin-right: 0.5rem;
}

.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.LoginForm .Item:nth-child(2) {
  margin-bottom: 1.3rem;
}

.Item label {
  margin-bottom: 0.3rem;
}

.Item input {
  border: 1px solid black;
  padding: 0.3rem;
}

.Item input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.LoginForm button {
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}

.LoginForm .RegisterPassword {
  display: flex;
  justify-content: space-between;
}

.LoginForm small a {
  position: relative;
  transition: all 200ms ease-in-out;
}

.LoginForm small:first-child a {
  color: var(--kindaRed);
}

@media (min-width: 768px) {
  .LoginForm {
    padding: 2rem 4rem;
    margin-bottom: 0rem;
    width: 35rem;
    margin: 0 auto;
  }

  .LoginForm form {
    margin-bottom: 0rem;
  }

  .LoginForm form .Item {
    margin-bottom: 0.7rem;
  }

  .LoginForm form input {
    padding: 0.2rem;
  }

  .LoginForm button {
    padding: 0.5rem;
  }

  .LoginForm small a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--green);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  .LoginForm small a:hover::before {
    transform: scaleX(1);
  }

  .LoginForm small a:hover {
    color: var(--green);
  }
}

@media (min-width: 1024px) {
  .LoginForm {
    padding: 3rem 5rem;
  }
}
