.LoginForm {
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background-color: var(--almostWhite);
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}

.LoginForm h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.LoginForm h3 .Icon {
  margin-right: 0.5rem;
}

.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.LoginForm .Item:nth-child(2) {
  margin-bottom: 1.3rem;
}

.Item label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  font-weight: var(--medium);
}

.Item input {
  border: 1px solid var(--borderColor);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.Item input::placeholder {
  font-size: 0.8rem;
  color: var(--borderColor);
}

.LoginForm button {
  margin-bottom: 0.8rem;
}

.LoginForm small {
  display: block;
  font-weight: var(--regular);
  font-size: 0.9rem;
  color: var(--grey);
  text-align: center;
}

.LoginForm small a {
  color: var(--green);
  font-weight: var(--regular);
  font-size: 0.9rem;
  position: relative;
  transition: all 200ms ease-in-out;
}

@media (min-width: 768px) {
  .LoginForm {
    padding: 2rem 4rem;
    width: 35rem;
    margin: 0 auto;
  }

  .LoginForm form {
    margin-bottom: 0.5rem;
  }

  .LoginForm small {
    margin-bottom: 0.25rem;
  }

  .LoginForm small a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--green);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  .LoginForm small a:hover::before {
    transform: scaleX(1);
  }

  .LoginForm small a:hover {
    color: var(--green);
  }
}

@media (min-width: 1024px) {
  .LoginForm {
    padding: 3rem 5rem;
  }

  .LoginForm form {
    margin-bottom: 0.75rem;
  }
}
