.RegisterForm {
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-top: 2px solid var(--kindaRed);
}

.RegisterForm h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.RegisterForm h3 .Icon {
  margin-right: 0.5rem;
}

.RegisterForm form {
  display: flex;
  flex-direction: column;
}

.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.RegisterForm .Item:nth-child(4) {
  margin-bottom: 1.3rem;
}

.Item label {
  nt-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: var(--grey);
}

.Item input {
  border: 1px solid var(--borderColor);
  padding: 0.3rem;
  border-radius: 0.25rem;
}

.Item input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.RegisterForm small a {
  position: relative;
  color: var(--kindaRed);
  transition: all 200ms ease-in-out;
}

.RegisterForm button {
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
  .RegisterForm {
    padding: 2rem 4rem;
    margin-bottom: 0rem;
    width: 35rem;
    margin: 0 auto;
  }

  .RegisterForm form input {
    padding: 0.2rem;
  }

  .RegisterForm form .Item {
    margin-bottom: 0.7rem;
  }

  .RegisterForm button {
    padding: 0.5rem;
  }

  .RegisterForm small a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--green);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  .RegisterForm small a:hover::before {
    transform: scaleX(1);
  }

  .RegisterForm small a:hover {
    color: var(--green);
  }
}

@media (min-width: 1024px) {
  .RegisterForm {
    padding: 3rem 5rem;
  }
}
