.RegisterForm {
  padding: 1rem;
  margin: 0rem 1rem;
  margin-bottom: 5.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.RegisterForm form {
  display: flex;
  flex-direction: column;
}

.RegisterForm h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.RegisterForm h3 .Icon {
  margin-right: 0.5rem;
}

.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Item label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.Item input {
  border: 1px solid black;
  padding: 0.2rem;
}

.Item input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.RegisterForm small a {
  color: var(--kindaRed);
  font-weight: var(--medium);
  font-size: 0.9rem;
}

.RegisterForm button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 375px) {
  .RegisterForm small a {
    font-size: 1rem;
  }
}
