.RegisterForm {
  padding: 1rem;
  margin-bottom: 5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.RegisterForm h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.RegisterForm h3 .Icon {
  margin-right: 0.5rem;
}

.RegisterForm form {
  display: flex;
  flex-direction: column;
}

.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.RegisterForm .Item:nth-child(4) {
  margin-bottom: 1.3rem;
}

.Item label {
  margin-bottom: 0.3rem;
}

.Item input {
  border: 1px solid black;
  padding: 0.3rem;
}

.Item input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.RegisterForm small a {
  color: var(--kindaRed);
  font-weight: var(--medium);
  font-size: 0.9rem;
}

.RegisterForm button {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

@media (min-width: 375px) {
  .RegisterForm {
    margin-bottom: 6rem;
  }
  .RegisterForm small a {
    font-size: 1rem;
  }
}

@media (min-width: 411px) {
  .Item input {
    padding: 0.4rem;
  }
}

@media (min-width: 768px) {
  .RegisterForm {
    padding: 2rem 4rem;
    margin-bottom: 0rem;
  }

  .RegisterForm form {
    margin-bottom: 0.8rem;
  }

  .RegisterForm form input {
    padding: 0.4rem;
  }

  .RegisterForm form .Item {
    margin-bottom: 0.7rem;
  }

  .RegisterForm button {
    padding: 0.7rem;
  }

  .RegisterForm small a {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .RegisterForm {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .RegisterForm {
    padding: 3rem 8rem;
  }
}
