.Card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
}

.Image img {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.Content p:first-child {
  font-size: 1.2rem;
  font-weight: var(--semiBold);
  color: var(--slateGrey);
}

.Content p:last-child {
  color: var(--grey);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Card {
    border-radius: 0.5rem;
  }

  .Image img {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    margin-bottom: 1rem;
  }

  .Content {
    padding: 0.75rem 1rem;
  }
}
