.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.Card h5 {
  align-self: flex-end;
  color: var(--almostWhite);
  font-family: "Carter One";
  font-size: 0.8rem;
}

.TitleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card h2 {
  font-family: "Carter One";
  color: var(--almostWhite);
}

.Card a {
  color: var(--almostWhite);
  font-weight: var(--semiBold);
  background-color: var(--kindaRed);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .Card {
    height: 17rem;
  }

  .Card h5 {
    font-size: 0.9rem;
  }

  .Card a {
    padding: 0.3rem 1.3rem;
    border-radius: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .Card {
    height: 18rem;
  }
}
