.HomePage {
  padding: 1rem;
}

.HomePage .Title {
  margin-bottom: 1rem;
}

.HomePage .Title h2 {
  font-weight: var(--bold);
  margin-bottom: 0.5rem;
}

.HomePage .Title small {
  color: var(--grey);
}

.HomePage .ImageGallery {
  margin-bottom: 0.5rem;
}

.HomePage .ReservationForm .Title {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .HomePage {
    padding: 2rem 3rem;
  }

  .HomePage .Title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .HomePage {
    padding: 3rem 5rem;
    margin-bottom: 0rem;
  }

  .HomePage .Title {
    width: 65%;
    margin-bottom: 2rem;
  }

  .HomePage .ImageGallery {
    margin-bottom: 3rem;
  }

  .HomePage .ReservationForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .HomePage .ReservationForm .Title {
    width: 30%;
    margin-bottom: 0rem;
    text-align: left;
  }

  .HomePage .ReservationForm .Form {
    width: 70%;
    margin-left: 2rem;
  }
}

@media (min-width: 1280px) {
  .HomePage {
    padding: 4rem 8rem;
  }

  .HomePage .Title {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1440px) {
  .HomePage {
    padding: 4rem 10rem;
  }
}
