.Alerts {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 68%;
}

.Alert {
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  color: var(--almostWhite);
  font-weight: var(--medium);
  border-radius: 0.25rem;
}

.Danger {
  background-color: var(--kindaRed);
}

.Success {
  background-color: var(--green);
}
