.Button {
  border: none;
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--almostWhite);
  background-color: var(--green);
  padding: 0.75rem 0.8rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.Disabled {
  background-color: var(--borderColor);
  cursor: not-allowed;
  color: var(--grey);
}
