.Button {
  border: none;
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--almostWhite);
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--kindaRed);
  cursor: pointer;
}

.Disabled {
  background-color: var(--grey);
  cursor: not-allowed;
  color: var(--slateGrey);
}

@media (min-width: 768px) {
  .Button {
    font-weight: var(--semiBold);
  }
}

@media (min-width: 1024px) {
  .Button {
    font-weight: var(--regular);
  }
}
