.Footer {
  padding: 1rem;
  margin-bottom: 3.5rem;
  background-color: var(--almostWhite);
}

.Content {
  margin-bottom: 0.5rem;
  border-bottom: 0.5px solid var(--borderColor);
}

.AboutUs,
.Info,
.OpeningHours,
.QuickLinks {
  margin-bottom: 1rem;
}

.Footer h4 {
  margin-bottom: 0.3rem;
}

.Footer p,
.Footer a {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: var(--regular);
}

.Item p:first-child {
  color: var(--slateGrey);
  font-weight: var(--medium);
}

.ContactInfo .Item {
  margin-bottom: 0.5rem;
}

.Copyright p {
  text-align: center;
  font-size: 0.8rem;
}

.QuickLinks {
  display: none;
}

@media (min-width: 375px) {
  .Footer {
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 768px) {
  .Footer {
    padding: 2rem 3rem;
    margin-bottom: 5rem;
  }

  .Content {
    display: flex;
    justify-content: space-between;
  }

  .AboutUs {
    margin-right: 2rem;
  }

  .AboutUs {
    width: 60%;
  }

  .Info {
    width: 40%;
  }

  .OpeningHours,
  .ContactInfo,
  .Item {
    margin-bottom: 1rem;
  }

  .Copyright {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .Footer {
    padding: 3rem 5rem;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
  }

  .AboutUs,
  .Info {
    margin-right: 3rem;
  }

  .AboutUs {
    width: 40%;
  }

  .Info {
    width: 35%;
  }

  .QuickLinks {
    display: block;
    width: 25%;
  }

  .QuickLinks a:hover {
    color: var(--green);
    transition: all 200ms;
  }

  .Footer ul li {
    padding: 0.2rem 0rem;
  }

  .Content {
    margin-bottom: 1.5rem;
  }
}
