.MobileFooter {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--slateGrey);
}

.Item {
  text-align: center;
}

.Item p,
.Item a {
  font-size: 0.9rem;
  font-weight: var(--semiBold);
  color: var(--almostWhite);
}

.Item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.DesktopFooter {
  display: none;
}

@media (min-width: 375px) {
  .MobileFooter {
    padding: 0.8rem 1rem;
  }

  .Item a .Icon {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 411px) {
  .Item a .Icon {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .MobileFooter {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .MobileFooter {
    display: none;
  }

  .DesktopFooter {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: var(--slateGrey);
  }

  .DesktopFooter .Items .Item p,
  .DesktopFooter .Items .Item ul li a,
  .DesktopFooter small {
    color: var(--almostWhite);
  }

  .DesktopFooter .Items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .DesktopFooter .Items .Item {
    text-align: left;
    width: 33%;
  }

  .DesktopFooter .Items .Item ul li {
    display: flex;
    padding: 0.3rem 0rem;
  }

  .DesktopFooter .Items .Item ul li a {
    font-size: 1.2rem;
    font-weight: var(--regular);
    transition: all 0.3s;
  }

  .DesktopFooter .Items .Item ul li a:hover {
    color: var(--green);
  }

  .DesktopFooter .Items .Item p {
    font-size: 1.5rem;
    color: var(--kindaRed);
  }

  .DesktopFooter .Items .Item small {
    display: block;
  }
}

@media (min-width: 1280px) {
  .DesktopFooter {
    padding: 2.5rem 8rem;
  }
}

@media (min-width: 1440px) {
  .DesktopFooter {
    padding: 3rem 10rem;
  }
}
