.MobileFooter {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--slateGrey);
}

.MobileFooter .Item {
  text-align: center;
}

.MobileFooter .Item p,
.MobileFooter .Item a {
  font-size: 0.9rem;
  font-weight: var(--semiBold);
  color: var(--almostWhite);
}

.MobileFooter .Item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.DesktopFooter {
  display: none;
}

@media (min-width: 375px) {
  .MobileFooter {
    padding: 0.8rem 1rem;
  }

  .MobileFooter .Item a .Icon {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 411px) {
  .MobileFooter .Item a .Icon {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .MobileFooter {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .MobileFooter {
    display: none;
  }

  .DesktopFooter {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem;
    justify-content: space-between;
    background-color: var(--slateGrey);
  }

  .DesktopFooter .Logo {
    text-align: center;
  }

  .DesktopFooter .Logo h3 {
    font-family: "Permanent Marker";
    color: var(--almostWhite);
  }

  .DesktopFooter .Item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .DesktopFooter .Item p {
    font-weight: var(--medium);
    color: var(--kindaRed);
  }

  .DesktopFooter .Item small,
  .DesktopFooter .Item a {
    color: var(--almostWhite);
  }
}

@media (min-width: 1280px) {
  .DesktopFooter {
    padding: 2rem 8rem;
  }
}

@media (min-width: 1440px) {
  .DesktopFooter {
    padding: 2rem 10rem;
  }
}
