.LinkButton {
  display: flex;
  justify-content: center;
}

.LinkButton a {
  border: 2px solid transparent;
  border-radius: 0.25rem;
  background-color: var(--kindaRed);
  padding: 0.1rem 0.8rem;
  font-size: 1rem;
  color: var(--almostWhite);
  font-weight: var(--medium);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.LinkButton a:hover {
  border: 2px solid var(--green);
  color: var(--green);
  background-color: transparent;
}

.Disabled a {
  background-color: var(--grey);
  color: var(--slateGrey);
  pointer-events: none;
}

@media (min-width: 768px) {
  .LinkButton a {
    font-weight: var(--medium);
  }
}
