.LinkButton {
  display: flex;
  justify-content: center;
}

.LinkButton a {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--kindaRed);
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  color: var(--almostWhite);
  font-weight: var(--medium);
  cursor: pointer;
}

.Disabled a {
  background-color: var(--grey);
  color: var(--slateGrey);
  pointer-events: none;
}

@media (min-width: 768px) {
  .LinkButton a {
    padding: 0.5rem 1.5rem;
    font-weight: var(--medium);
  }
}

@media (min-width: 1280px) {
  .LinkButton a {
    padding: 0.5rem 3rem;
  }
}
