.LinkButton a {
  border-radius: 2rem;
  background-color: var(--slateGrey);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--almostWhite);
  font-weight: var(--semiBold);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.Disabled a {
  background-color: var(--borderColor);
  color: var(--grey);
  pointer-events: none;
}

.LinkButton a:hover {
  box-shadow: 0 8px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 200ms;
}

@media (min-width: 1024px) {
  .LinkButton a {
    font-weight: var(--medium);
  }
}
