.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.08rem 1.7rem;
}

.Loader > div {
  height: 16px;
  width: 16px;
  background-color: var(--almostWhite);
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out both;
}

.Loader .Dot1 {
  animation-delay: -0.3s;
  margin-right: 0.25rem;
}
.Loader .Dot2 {
  animation-delay: -0.15s;
  margin-right: 0.25rem;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
