.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--almostWhite);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.Navbar .Logo {
  font-family: "Permanent Marker";
}

.Navbar .MobileNav ul li a {
  background-color: var(--kindaRed);
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  color: var(--almostWhite);
  font-weight: var(--medium);
}

.Navbar .DesktopNav {
  display: none;
}

@media (min-width: 768px) {
  .Navbar {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .Navbar {
    padding: 1rem 5rem;
  }

  .Navbar .MobileNav {
    display: none;
  }

  .Navbar .DesktopNav {
    display: flex;
    align-items: center;
  }

  .Navbar .DesktopNav ul {
    display: flex;
    margin-right: 0.5rem;
  }

  .Navbar .DesktopNav ul li a {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--slateGrey);
    border-radius: 2rem;
    margin: 0rem 0.5rem;
    font-weight: var(--medium);
    transition: all 200ms;
  }

  .Navbar .DesktopNav ul li:last-child a {
    background-color: var(--kindaRed);
    color: var(--almostWhite);
    border: none;
  }

  .Navbar .DesktopNav ul li a:hover {
    border: 1px solid var(--green);
    color: var(--green);
  }

  .Navbar .DesktopNav ul li a.Active {
    border: 1px solid var(--green);
    color: var(--green);
  }
  .Navbar .DesktopNav ul li:last-child a:hover {
    background-color: var(--slateGrey);
    color: var(--almostWhite);
    border: none;
  }
}

@media (min-width: 1280px) {
  .Navbar {
    padding: 1rem 8rem;
  }
}

@media (min-width: 1440px) {
  .Navbar {
    padding: 1rem 10rem;
  }
}
