.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.Logo a {
  display: flex;
  align-items: center;
}

.Logo img {
  width: 45px;
  height: 45px;
}

.MobileNav ul li a {
  background-color: var(--green);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: var(--almostWhite);
  font-weight: var(--semiBold);
}

.DesktopNav {
  display: none;
}

@media (min-width: 768px) {
  .Navbar {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .Navbar {
    padding: 0.75rem 5rem;
  }

  .MobileNav {
    display: none;
  }

  .DesktopNav {
    display: flex;
    align-items: center;
  }

  .Logo img {
    width: 45px;
    height: 45px;
  }

  .DesktopNav ul {
    display: flex;
    margin-right: 0.5rem;
  }

  .DesktopNav ul li a {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: var(--medium);
    transition: all 200ms;
    color: var(--grey);
  }

  .DesktopNav ul li:last-child a {
    background-color: var(--green);
    color: var(--almostWhite);
    margin-left: 0.3rem;
    border: none;
    border-radius: 2rem;
  }

  .DesktopNav ul li a:hover,
  .DesktopNav ul li a.Active {
    color: var(--slateGrey);
  }

  .DesktopNav ul li:last-child a:hover,
  .DesktopNav ul li:last-child a.Active {
    background-color: var(--slateGrey);
    color: var(--almostWhite);
    border: none;
  }
}
