.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  padding-top: 0.3rem;
  background-color: var(--almostWhite);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.Navbar button {
  border-radius: 2rem;
  padding: 0.5rem 1.2rem;
}

.Navbar div:last-child a {
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  font-weight: var(--semiBold);
}

.Navbar ul {
  display: none;
}

@media (min-width: 768px) {
  .Navbar {
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 1024px) {
  .Navbar {
    padding: 0.5rem 5rem;
  }

  .Navbar .Items {
    display: flex;
    align-items: center;
  }

  .Navbar ul {
    display: flex;
    margin-right: 0.5rem;
  }

  .Navbar .Items ul li a {
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    border: 1px solid var(--slateGrey);
    margin: 0rem 0.5rem;
  }

  .Navbar div:last-child a {
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem;
  }
}

@media (min-width: 1280px) {
  .Navbar {
    padding: 0.5rem 8rem;
  }
}

@media (min-width: 1440px) {
  .Navbar {
    padding: 0.5rem 10rem;
  }
}
