.Burger {
  display: flex;
  flex-direction: column;
}

.Burger h2,
.Price {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .Burger {
    display: flex;
    flex-direction: column;
  }
}
