.Burger {
  display: flex;
  flex-direction: column;
}

.Burger h3,
.Price {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .Burger {
    display: flex;
    flex-direction: column;
  }

  .Burger .Price {
    margin-bottom: 2rem;
  }
}

@media (min-width: 120px) {
  .Burger .Price {
    margin-bottom: 2.5rem;
  }
}
