.BurgerPage {
  padding: 1rem;
}

@media (min-width: 768px) {
  .BurgerPage {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .BurgerPage {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .BurgerPage {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1440px) {
  .BurgerPage {
    padding: 4rem 10rem;
  }
}
