.Burger {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Burger h2,
.Price {
  margin-bottom: 1rem;
}

.Price {
  color: var(--green);
  font-weight: var(--medium);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Burger {
    display: flex;
    flex-direction: column;
  }

  .Price {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Burger a {
    padding: 0.4rem 1.25rem;
  }
}
