.Controller {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
}

.Controller .Item {
  margin-bottom: 1rem;
  justify-self: center;
}

.Item h4 {
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
}

.AddIcon,
.RemoveIcon {
  font-size: 2rem;
  cursor: pointer;
}

.AddIcon {
  margin-right: 1rem;
  color: var(--green);
}

.RemoveIcon {
  color: var(--kindaRed);
}

.Disabled {
  color: var(--grey);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .AddIcon,
  .RemoveIcon {
    font-size: 2.5rem;
  }

  .AddIcon {
    margin-right: 1.5rem;
  }
}
