.Controller {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 50%;
}

.Item h3 {
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
}

.AddIcon,
.RemoveIcon {
  font-size: 2rem;
  cursor: pointer;
}

.AddIcon {
  margin-right: 1rem;
  color: var(--green);
}

.RemoveIcon {
  color: var(--kindaRed);
}

.Disabled {
  color: var(--grey);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .AddIcon,
  .RemoveIcon {
    font-size: 2.5rem;
  }

  .AddIcon {
    margin-right: 1.5rem;
  }
}
