.Controller {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
}

.Controller .Item {
  margin-bottom: 1rem;
  justify-self: center;
}

.Item h4 {
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
}

.AddIcon,
.RemoveIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.AddIcon {
  margin-right: 0.75rem;
  color: var(--yellow);
}

.RemoveIcon {
  color: var(--kindaRed);
}

.Disabled {
  color: var(--borderColor);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .Controller {
    width: 25rem;
    align-self: center;
    margin-bottom: 1rem;
  }

  .AddIcon,
  .RemoveIcon {
    font-size: 1.75rem;
  }

  .AddIcon {
    margin-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .Controller {
    width: 30rem;
    margin-bottom: 1.5rem;
  }
}
