.Cards {
  display: flex;
  flex-direction: column;
}

.Cards button {
  align-self: center;
}

@media (min-width: 768px) {
  .Cards {
    width: 35rem;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .Cards {
    width: 40rem;
  }
}
