.Card {
  padding: 1rem;
  background-color: var(--almostWhite);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.ImageTitle {
  display: flex;
}

.Image {
  width: 25%;
  margin-right: 1rem;
}

.Title {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.Title p {
  font-weight: var(--semiBold);
}

.Title p span {
  color: var(--green);
}

.Icon {
  align-self: flex-end;
  font-size: 2rem;
  color: var(--kindaRed);
  cursor: pointer;
}

.Disabled {
  color: var(--grey);
  pointer-events: none;
}

@media (min-width: 411px) {
  .Image {
    margin-right: 0rem;
  }
}

@media (min-width: 768px) {
  .Card {
    margin-bottom: 2rem;
  }

  .Card:last-child {
    margin-bottom: 2rem;
  }
  .Title p {
    margin-bottom: 0.5rem;
  }

  .Icon {
    font-size: 2.5rem;
  }
}
