.Side {
  padding: 1rem;
}

@media (min-width: 768px) {
  .Side {
    width: 35rem;
    margin: 0 auto;
    padding: 2rem 0rem;
  }
}

@media (min-width: 1024px) {
  .Side {
    width: 40rem;
    padding: 3rem 0rem;
  }
}

@media (min-width: 1280px) {
  .Side {
    padding: 4rem 0rem;
    padding-top: 3rem;
  }
}

@media (min-width: 1440px) {
  .Side {
    padding: 4rem 0rem;
    padding-top: 3rem;
  }
}
