.Summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--almostWhite);
  border-radius: 0.5rem;
}

.Burger {
  width: 20%;
}

.Description {
  width: 65%;
}

.Icon {
  font-size: 1.5rem;
  color: var(--grey);
  cursor: pointer;
}

.Description p {
  font-weight: var(--medium);
}

.Description ul {
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.Description ul li {
  color: var(--grey);
  font-weight: var(--regular);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Summary {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
  }

  .Description p {
    font-weight: var(--medium);
  }

  .Description p:first-child,
  .Description ul {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .Summary {
    margin-bottom: 2rem;
  }
}
