.Items {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ToRemove h4 {
  margin-bottom: 0.5rem;
}

.Item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.Item label {
  margin-right: 0.5rem;
  color: var(--grey);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Items {
    margin-bottom: 1rem;
    grid-template-columns: auto auto auto auto;
  }
}
