.ToRemove {
  padding: 1rem;
  padding-top: 0rem;
}

.ToRemove h4 {
  margin-bottom: 0.5rem;
}

.Items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Item {
  width: 29%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.Item label {
  margin-right: 0.5rem;
}
