.Items {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ToRemove h4 {
  margin-bottom: 0.5rem;
}

.Item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.Item label {
  margin-right: 0.5rem;
}
