.ForgotPasswordPage {
  padding: 1rem;
}

.ForgotPassword {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.ForgotPassword label {
  margin-bottom: 0.5rem;
}

.ForgotPassword input {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.ForgotPassword input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.ForgotPassword button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.ForgotPassword small {
  text-align: center;
}

@media (min-width: 768px) {
  .ForgotPasswordPage {
    padding: 2rem 3rem;
  }

  .ForgotPassword {
    padding: 2rem 4rem;
  }
}

@media (min-width: 1024px) {
  .ForgotPasswordPage {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .ForgotPasswordPage {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1280px) {
  .ForgotPasswordPage {
    padding: 4rem 10rem;
  }
}
