.ForgotPasswordPage {
  padding: 1rem;
}

.ForgotPassword {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-top: 2px solid var(--kindaRed);
}

.ForgotPassword label {
  margin-bottom: 0.5rem;
}

.ForgotPassword input {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.ForgotPassword input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.ForgotPassword button {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.ForgotPassword small {
  text-align: center;
}

.ForgotPassword small a {
  position: relative;
  transition: all 200ms ease-in-out;
}

@media (min-width: 768px) {
  .ForgotPasswordPage {
    padding: 2rem 3rem;
  }

  .ForgotPassword {
    padding: 2rem 4rem;
    width: 35rem;
    margin: 0 auto;
  }

  .ForgotPassword input {
    margin-bottom: 1.3rem;
    padding: 0.2rem;
  }

  .ForgotPassword button {
    padding: 0.5rem;
  }

  .ForgotPassword small a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--green);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  .ForgotPassword small a:hover::before {
    transform: scaleX(1);
  }

  .ForgotPassword small a:hover {
    color: var(--green);
  }
}

@media (min-width: 1024px) {
  .ForgotPasswordPage {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .ForgotPasswordPage {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1280px) {
  .ForgotPasswordPage {
    padding: 4rem 10rem;
  }
}
