.ResetPasswordPage {
  padding: 1rem;
}

.ResetPassword {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-top: 2px solid var(--kindaRed);
}

.ResetPassword .Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ResetPassword .Item label {
  margin-bottom: 0.5rem;
}

.ResetPassword .Item input {
  border: 1px solid black;
  padding: 0.3rem;
}

.ResetPassword .Item input:focus {
  outline: 2px solid var(--kindaRed);
  border: none;
}

.ResetPassword button {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.ResetPassword small {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .ResetPasswordPage {
    padding: 2rem 3rem;
  }

  .ResetPassword {
    padding: 2rem 4rem;
    width: 35rem;
    margin: 0 auto;
  }

  .ResetPassword .Item {
    margin-bottom: 1.3rem;
  }

  .ResetPassword .Item input {
    padding: 0.2rem;
  }

  .ResetPassword button {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .ResetPasswordPage {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .ResetPasswordPage {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1280px) {
  .ResetPasswordPage {
    padding: 4rem 10rem;
  }
}
