.Order {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: var(--almostWhite);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Order:last-child {
  margin-bottom: 0rem;
}

.Title {
  margin-bottom: 0.5rem;
  font-weight: var(--medium);
}

.Title span {
  color: var(--green);
}

.TypeDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Date {
  font-size: 0.6rem;
  color: var(--borderColor);
}

.Main {
  margin-bottom: 0.5rem;
}

.Order ul {
  display: flex;
  flex-wrap: wrap;
}

.Order ul li {
  padding: 0.2rem;
  color: var(--grey);
  font-weight: var(--regular);
  font-size: 0.9rem;
}

.Items {
  display: flex;
  margin-bottom: 0.3rem;
}

.Items p {
  font-size: 0.9rem;
  color: var(--grey);
  margin-right: 0.25rem;
  text-transform: capitalize;
}

.PriceReorder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Order button {
  background-color: var(--slateGrey);
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Order {
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
  }

  .Order:last-child {
    margin-bottom: 0rem;
  }

  .Main {
    margin-bottom: 0.75rem;
  }

  .ItemsToRemove {
    margin-bottom: 0.5rem;
  }
}
