.Order {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: var(--almostWhite);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Item {
  margin-bottom: 0.5rem;
}

.Item:first-child,
.TotalPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Item p,
.TotalPrice p {
  font-weight: var(--semiBold);
}

.TotalPrice p span {
  color: var(--green);
}

.Item:first-child small {
  font-size: 0.6rem;
  color: var(--borderColor);
}

.Item ul {
  display: flex;
  flex-wrap: wrap;
}

.Item ul li,
.Item small {
  color: var(--grey);
  font-weight: var(--regular);
  font-size: 0.9rem;
  padding: 0rem 0.25rem;
}

.Order button {
  background-color: var(--slateGrey);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Order {
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
  }

  .Order:last-child {
    margin-bottom: 0rem;
  }
}
