.Nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--almostWhite);
  margin-bottom: 0.75rem;
}

.Nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Nav ul li {
  font-weight: var(--semiBold);
  background-color: var(--green);
  color: var(--almostWhite);
  border-radius: 2rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.Nav ul li.Active {
  background-color: var(--yellow);
}

.Item {
  display: flex;
  margin-bottom: 0.5rem;
}

.Item p {
  margin-right: 0.5rem;
}

.Item p,
.Item small {
  font-size: 0.9rem;
}

.NoPendingOrder {
  color: var(--grey);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Dashboard {
    width: 75%;
    margin: 0 auto;
  }

  .Nav {
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Nav ul li {
    font-weight: var(--regular);
  }
}
