.DashboardPage {
  padding: 1rem;
}

@media (min-width: 768px) {
  .DashboardPage {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .DashboardPage {
    padding: 3rem 0rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .DashboardPage {
    padding: 4rem 0rem;
  }
}

@media (min-width: 1440px) {
  .DashboardPage {
    width: 65%;
  }
}
