.Dashboard {
  position: relative;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Nav li {
  font-weight: var(--regular);
  border: 1px solid var(--borderColor);
  border-radius: 0.25rem;
  padding: 0.1rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.Nav li.Active {
  border: 1px solid var(--green);
}

.MenuTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.MenuIcon {
  border: 1.5px solid var(--grey);
  color: var(--grey);
  padding: 0.2rem;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.SideMenu {
  display: none;
}

.Item {
  display: flex;
  margin-bottom: 0.5rem;
}

.Item p {
  margin-right: 0.5rem;
}

.Item p,
.Item small {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .Dashboard {
    display: flex;
    justify-content: space-between;
  }

  .MenuIcon {
    display: none;
  }

  .Details {
    width: 70%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}
