.Burger,
.Generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.Generic {
  margin-bottom: 0rem;
}

.PendingOrders button {
  align-self: center;
  align-self: center;
  background-color: var(--slateGrey);
  padding: 0.4rem 1rem;
  border-radius: 2rem;
}

.Item {
  margin-bottom: 1rem;
  background-color: var(--almostWhite);
  border-radius: 0.5rem;
}

.Item img {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.Content {
  padding: 1rem;
}

.Content p {
  font-weight: var(--semiBold);
  margin-bottom: 0.5rem;
}

.Content p:last-child {
  margin-bottom: 0rem;
}

.Content p:last-child span {
  color: var(--green);
}

.Content ul {
  margin-bottom: 0.5rem;
}

.Content ul li {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: var(--regular);
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .Burger {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .Burger {
    margin-bottom: 2.5rem;
  }
}
