/* Body */
html,
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --green: #20c552;
  --yellow: #e6b400;
  --grey: #6c757d;
  --slateGrey: #334051;
  --kindaRed: #f86469;
  --almostWhite: #f6f6f8;
  --borderColor: #c8c8c8;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}

/* Heading */
h2,
h3,
h4 {
  line-height: 1.6em;
  color: var(--slateGrey);
  font-weight: var(--semiBold);
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

/* Body texts */
p,
a,
li,
input,
small,
label {
  font-size: 16px;
  line-height: 1.7em;
  color: var(--slateGrey);
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: var(--medium);
}

li {
  list-style: none;
  font-size: 0.9rem;
  font-weight: var(--medium);
}

small {
  font-size: 0.9rem;
  font-weight: var(--medium);
}

label {
  font-size: 0.9rem;
}

input {
  border-radius: 0px;
}

/* 
Min width 375px */
@media (min-width: 375px) {
  a,
  li,
  label,
  small {
    font-size: 1rem;
  }
}

/* Min width 411px */
@media (min-width: 411px) {
  a,
  li,
  label,
  small {
    font-size: 1rem;
  }
}

/* Min width 768px */
@media (min-width: 768px) {
  a,
  li,
  small {
    font-weight: var(--regular);
  }
}

/* Min width 1540px */
@media (min-width: 1280px) {
  html,
  body {
    border-left: 1px solid #f6f6f8;
    border-right: 1px solid #f6f6f8;
  }
}
