.ConfirmOrderPage {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* .ConfirmOrderPage h3 {
  margin-bottom: 0.8rem;
}

.ConfirmOrderPage .Image {
  margin-bottom: 1rem;
}

.ConfirmOrderPage .Content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ConfirmOrderPage .Content .Item {
  margin-bottom: 0.5rem;
}

.ConfirmOrderPage .Content h4 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.ConfirmOrderPage .Content p,
.ConfirmOrderPage .Content ul li {
  font-size: 0.9rem;
}

.ConfirmOrderPage .Content ul li {
  margin-bottom: 0.5rem;
}


} */

.ConfirmOrderPage button {
  align-self: center;
}

@media (min-width: 768px) {
  .ConfirmOrderPage {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .ConfirmOrderPage {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1280px) {
  .ConfirmOrderPage {
    padding: 4rem 8rem;
  }
}

@media (min-width: 1440px) {
  .ConfirmOrderPage {
    padding: 4rem 10rem;
  }
}
