.Item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.Item h5 {
  align-self: flex-end;
  color: var(--almostWhite);
  font-family: "Carter One";
  font-size: 0.8rem;
}

.TitleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TitleButton h2 {
  font-family: "Carter One";
  color: var(--almostWhite);
  max-width: 65%;
}

@media (min-width: 768px) {
  .Item {
    height: 17rem;
  }

  .Item h5 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1280px) {
  .Item {
    height: 18rem;
  }
}
