.Item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 15rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.Item h2 {
  font-family: "Carter One";
  color: var(--almostWhite);
  max-width: 65%;
}

.Item a {
  background-color: var(--kindaRed);
  color: var(--almostWhite);
  font-weight: var(--semiBold);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .Item {
    height: 17rem;
  }

  .Item a {
    padding: 0.3rem 1.3rem;
    border-radius: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .Item {
    height: 18rem;
  }
}
