.ItemPage {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.ItemPage h3 {
  margin-bottom: 0.8rem;
}

.Image {
  margin-bottom: 1rem;
}

.Image img {
  border-radius: 0.25rem;
}

.Content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Item {
  margin-bottom: 1.25rem;
}

.Content h4 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.Content p,
.Content ul li {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: var(--regular);
}

.Content ul li {
  margin-bottom: 0.5rem;
}

.AddIcon,
.RemoveIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.AddIcon {
  color: var(--yellow);
  margin-right: 0.5rem;
}

.RemoveIcon {
  color: var(--slateGrey);
}

.Disabled {
  color: var(--borderColor);
  pointer-events: none;
}

.ItemPage button {
  align-self: center;
  background-color: var(--slateGrey);
  padding: 0.4rem 1rem;
  border-radius: 2rem;
}

.ItemPage button:hover {
  box-shadow: 0 8px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 200ms;
}

@media (min-width: 768px) {
  .ItemPage {
    padding: 2rem 3rem;
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .ItemPage {
    padding: 3rem 5rem;
  }

  .Image {
    margin-bottom: 1.5rem;
  }
}
