.MenuPage {
  padding: 1rem;
}

.MenuPage .Title {
  margin-bottom: 1rem;
}

.MenuPage .Title h2 {
  font-weight: var(--bold);
  margin-bottom: 0.5rem;
}

.MenuPage .Title small {
  color: var(--grey);
}

@media (min-width: 768px) {
  .MenuPage {
    padding: 2rem 3rem;
  }

  .MenuPage .Title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .MenuPage {
    padding: 3rem 5rem;
  }

  .MenuPage .Title {
    width: 65%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .MenuPage {
    padding: 4rem 8rem;
  }

  .MenuPage .Title {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1440px) {
  .MenuPage {
    padding: 4rem 10rem;
  }
}
