.MenuPage {
  padding: 1rem;
}

.Title {
  margin-bottom: 1rem;
}

.Title h2 {
  font-weight: var(--bold);
  margin-bottom: 0.5rem;
}

.Title p {
  color: var(--grey);
}

@media (min-width: 768px) {
  .MenuPage {
    padding: 2rem 3rem;
  }

  .Title {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .MenuPage {
    padding: 3rem 5rem;
  }

  .Title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .MenuPage {
    padding: 4rem 8rem;
  }

  .Title {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1440px) {
  .MenuPage {
    padding: 4rem 10rem;
  }
}
